<html>
    <head>
        <title>صفحه اضافه کردن</title>
    </head>
    <body>
        <h1>create new todo</h1>

        <form action="{% url 'todo:edit_todo' todo_id=todo.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="todo_text" value="{{todo.text}}">
            <select name="priority" id="" >
                <option value="1" {% if todo.priority == 1 %}selected{% endif %} >مهم</option>
                <option value="2" {% if todo.priority == 2 %}selected{% endif %}>نیمه مهم</option>
                <option value="3" {% if todo.priority == 3 %}selected{% endif %}>اهمیتی ندارد</option>
            </select>
            
            <input type="submit" value="edit">
        </form>
        
    </body>
</html>