<html>
    <head>
        <title>todo app</title>
    </head>
    <body>
        <h1>this is todo app</h1>
        <ol>
            {% for t in todos %}
                {% if t.priority == 1%}
                    <li style="color: red;">{{ t.text }} 
                        <button><a href="{% url 'todo:delete_todo' todo_id=t.id %}">delete</a></button>
                        <button><a href="{% url 'todo:edit_todo' todo_id=t.id %}">edit</a></button>
                    </li>
                {% elif t.priority == 2 %}
                    <li style="color: orange;">{{ t.text }} 
                        <button><a href="{% url 'todo:delete_todo' todo_id=t.id %}">delete</a></button>
                        <button><a href="{% url 'todo:edit_todo' todo_id=t.id %}">edit</a></button>
                    </li>
                {% elif t.priority == 3 %}
                    <li style="color: green;">{{ t.text }} 
                        <button><a href="{% url 'todo:delete_todo' todo_id=t.id %}">delete</a></button>
                        <button><a href="{% url 'todo:edit_todo' todo_id=t.id %}">edit</a></button>
                    </li>

                {% endif %}
            {% endfor %}
        </ol>

<button><a href="{% url 'todo:add_todo' %}">اضافه کردن</a></button>
    </body>
</html>