{% load static %}
<html>
    <head>
        <title>this home</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <a href="{% url 'calc_age' %}">صفحه محاسبه سن</a>
        <h1 class="pri">hello this is text</h1>
        {% for item in data %}
            <img src="{{item.image}}" alt="" width="300">
            <h3>{{ item.name }}</h3>
            {% if item.price <= 100 %}
                <h4>{{ item.price }}</h4>
            {% else %}
                <h4>{{ item.price }}</h4>
            {% endif %}
            <p>{{ item.author }}</p>
            <hr>
        {% endfor %}
        
    </body>
</html>